// #252627
// #1B998B
// #E4E3D3

body {
    background-color: #252627;
    font-family: "Nunito", sans-serif;
    margin: auto;
    max-width: 70ch;
    color: #E4E3D3;
}

.content {
    background-color: #252627;
    padding: 1rem;
    padding-bottom: 2rem;
}